<title><%- title %></title>
<meta name="keywords" content="leisure">
<meta name="description" content="leisure">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--<meta name="viewport" content="target-densitydpi=device-dpi,width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection"content="telephone=no"/>


<script src="/build_bower/jquery/js/jquery.min.js"></script>
<script src="/build_bower/react/js/react.development.js"></script>
<script src="/build_bower/react/js/react-dom.development.js"></script>
<script src="/build/site.js"></script>

<link rel="stylesheet" href="/build_bower/bootstrap/css/bootstrap.min.css" />
<link rel='stylesheet' href='/stylesheets/base.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
